.app__about{
    flex:1;
    width:100%;
    flex-direction:column;

}

.HH2{
    margin-top:6rem;

    span{
        &:hover{
            scale:1.1;
            text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        }
    }
       

}

.app__profiles{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin-top:2rem;

}

.app__profile-item{
    width:190px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:2rem;
    

    img{
        width:100%;
        height:170px;
        border-radius:15px;
        object-fit:cover;
        &:hover{
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }
    }

    @media screen and(min-width:2000px){
        width:370px;
        margin:2rem 4rem ;

        img{
            height:320px;

        }
    }
}